.box-header {
    height: fit-content;
    margin-bottom: -1rem;
}

.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-left: -2.5rem;
    display: flex;
    gap: 0.625rem;
}

.nav-tabs li {
    display: inline;
}

.nav-tabs a {
    color: inherit;
    text-decoration: none;
}

.nav-tabs a:hover {
    color: #0030B9;
}
