.box-header {
    margin-bottom: -30px;
    left: -42px;
    background-color: #F8F9F6;
}

.nav-tabs {
    display: flex;
    gap: 10px;
    margin-left: -40px;
}

.nav-tabs li {
    display: inline;
}

.nav-tabs a {
    color: inherit;
    text-decoration: none;
}

.nav-tabs a:hover {
    color: #0030B9;
}