.dashboard-title {
    width: 518px;
    height: 121px;
    padding: 0 0 35px 75px;
}

.dashboard-title h1 {
    margin: 0;
    color: #0030B9;
    font-size: 60px;
}

.dashboard-cards-box {
    display: flex;
    gap: 10px;
}

.dashboard-card {
    width: 525px;
    height: 405px;
    background-color: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
}

.dashboard-card-header {
    height: 50px;
    border-radius: 5px 5px 0 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #CDCDCD;
}

.dashboard-card-header-text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}

.dashboard-card-content {
    display: grid;
    grid-auto-flow: row;
    row-gap: 8px;
    padding: 24px 24px 32px 24px;
}

.dashboard-card-content-card {
    height: 90px;
    border: 1px solid #CDCDCD;
}

.dashboard-card-content-card-header {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 2px 0 0 6px;
    font-size: 11px;
    color: #8F959E;
}

.dashboard-card-content-card-value {
    display: flex;
    justify-content: center;
    height: 70px;
}

.display-value-alert {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #FF9A0A;
}

.display-value-danger {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #C5381A;
}

.display-value-info {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #001074;
}

.display-value-success {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #00D071;
}

.dashboard-card-content-card-value span {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
}

.dashboard-card-content-card-value p {
    margin: 0;
    font-size: 50px;
}