.dropdown-filter {
    position: relative;
    display: inline-block;
    max-width: 0.9375rem;
}

.dropdown-filter-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF80;
    min-width: 10rem;
    box-shadow: 0rem 0.5rem 1rem 0rem #00000040;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-filter:hover .dropdown-filter-content {
    display: block;
}

.filter-form {
    display: flex;
    flex-direction: column;
}

.filter-form div {
    margin-bottom: 0.625rem;
}

.filter-button {
    padding: 0.625rem;
    background-color: #0030B9;
    border: none;
    border-radius: 0.3125rem;
    color: #FFFFFF;
}