body {
    font-family: 'Open Sans', sans-serif;
}

#login {
    display: flex;
    width: 50%; /* Cada parte ocupará metade da largura */
    text-align: left;
}

#login .inner .fheader {
    padding: 18px 26px 14px 26px;
    margin: 0px 0 14px 0;
    color: #2e3741;
    font-size: 18px;
    font-weight: bold;
}