body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    width: 100%;
    text-align: left;
}

.login .images > * {
    flex: 1;
}

.login .images {
    display: flex;
    width: 100%;
    height: auto;
}

.login .images .asaas-text {
    max-width: 500px;
    height: auto;
    margin: -200px auto 0;
}

.login .images .girl-laptop {
    width: 40rem;
    margin-top: 2.2rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

.login .inner {
    width: 100%;
    max-width: 520px;
    padding-top: 7.2rem;
    padding-right: 80px;
}

.login .inner .fheader {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.login .inner .email-label {
    margin-bottom: 1.5rem;
}

.login .inner .password-label {
    margin-bottom: 2.5rem;
}

.login .inner .bottom-text {
    margin-top: 1.8rem;
}

@media (max-width: 1200px) {
    .login .images {
        display: none;
    }

    .login .inner {
        margin: 0 auto;
        padding-right: 0;
    }
}
