body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.login .images {
    width: 80%;
    height: auto;
    margin-right: 25rem;
}

.login .images .asaas-text {
    height: auto;
}

.login .images .girl-laptop {
    margin-top: 4rem;
}

.login .inner {
    width: 60%;
    padding: 5rem;
}

.login .inner .fheader {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.login .inner .button {
    margin-top: 2rem;
}