.navbar-user {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.bell-button {
    background-color: white;
    border: none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.bell-button:hover {
    background-color: #DEE2E6;
}

.bell-button:active {
    background-color: #CCD6F1;
}